
* {
    margin: 0;
    padding: 0;
  }
  
  #header {
    color: white;
    background-color: #003580;
  }
  
  .navbar-brand {
    margin-top: 10px;
    font-size: 30px;
    font-family: "Josefin Sans", sans-serif;
  }
  .navbar-brand img {
    width: 50px;
    margin-left: -11px;
  }
  
  .navbar-collapse ul {
    margin-left: auto;
  }
  
  .navbar-nav .btn:hover {
    background-color: #fff;
    background-color: #003580;
  }
  .navbar li a {
    display: block;
    color: white;
  }
  .navbar li a.btn:hover {
    color: #003580;
    background-color: #fff;
  }
  
  #selectbox {
    color: white;
  }
  #selectbox option {
    color: black;
  }
  
  .headerBtn {
    color: white;
    background-color: #0071c2;
    border: 2px solid white;
    border-radius: 30px;
    margin-right: 0.25;
  }
  .activeBtn,
  .headerBtn:hover {
    /* color: #e74c3c; */
    color: #003580;
    background-color: #fff;
    margin-right: 10px;
  }
  .carousel-item img {
    height: 380px;
  }
  
  .carousel-item {
    font-family: "Josefin Sans", sans-serif;
  }
  .borderY {
    border: 5px solid #febb02;
  }
  
  .borderY.btn {
    border-radius: 0%;
    background-color: #003580;
    color: white;
    padding: 5px;
  }
  
  .bColor {
    color: #003580;
    background-color: white;
  }
  
  .btnB {
    border: none;
    border-radius: 2px;
    background-color: #003580;
    color: white;
    padding: 5px;
  }
  
  #offersCol {
    border-radius: 2px;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  }
  #offersBg {
    background: url("./Images/pexels-pierre-blaché-2901209.jpg") no-repeat;
    background-size: cover;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  #property img {
    border: 5px;
  }
  
  #discount {
    border: 1px grey;
    background: url("./Images/pexels-karolina-grabowska-4194857.jpg") 0 0
      no-repeat;
    background-size: cover;
  }
  
  #sub-footer {
    background-color: #003580;
  }
  
  #footer-sidebar {
    color: white;
    background: #232f3e;
    padding: 20px 0;
  }
  
  .footer-widget a {
    color: #fff;
    text-decoration: none;
  }
  .latest-news {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .latest-news li {
    margin-bottom: 5px;
  }
  
  .latest-news li :before {
    content: "\f101";
    font-family: FontAwesome;
    padding-right: 5px;
  }
  #footer {
    background: #131a22;
    color: #fff;
    padding: 10px 0;
  }
  #social-icons {
    display: flex;
    list-style: none;
    color: #fff;
    margin: 0;
    padding: 0;
    justify-content: end;
  }
  #social-icons li {
    display: inline-block;
    padding-left: 5px;
  }
  #social-icons li a {
    text-decoration: none;
    color: #fff;
    font-size: 23px;
  }
  
  .sb {
    margin-bottom: 0.5rem;
  }
  .st-4 {
    margin-top: 2rem;
  }
  .col-xs {
    flex: content;
  }
  
  .text-small {
    font-size: 2rem;
    font-family: "Gloock", serif;
  }
  
  .reg-btn {
    color: white;
    background-color: #003580;
  }
  
  .reg-btn:hover {
    background-color: #0071c2;
    color: white;
  }
  
  .logoFont {
    font-size: 5vw;
  }
  
  .reg-text {
    color: #003580;
    font-size: 1.2rem;
    font-family: "Gloock", serif;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: white;
  }
  
  .bd {
    border: 1px solid #e7e7e7;
    border-radius: 10px;
  }
  .text-xs {
    font-size: 0.9rem;
  }
  
  .bl {
    color: #003580;
    text-decoration: none;
  }
  
  .fluidity {
    border-radius: 50%;
    height: 30vh;
    border: 1px solid #e7e7e7;
  }
  
  .img-food {
    font-size: 0.7rem;
    margin-left: -1rem;
    letter-spacing: 0.19rem;
    margin-bottom: -0.5rem;
    height: max-content;
  }
  
  .fg {
    height: max-content;
    width: max-content;
    margin-right: 0.8rem;
    border-radius: 1.5rem;
  }
  
  
  
  @media (max-width: 768px) {
    .carousel-item img {
      height: 300px;
    }
  }
  @media (max-width: 576px) {
    .carousel-item img {
      height: 230px;
    }
  
    #footer-center {
      text-align: center;
    }
  
    #social-icons {
      justify-content: center;
    }
    .fluidity {
      height: 20vh;
    }
  }
  